<div id="<%= dom_id initiative %>">
  <p>
    <strong>Name:</strong>
    <%= initiative.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= initiative.category %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= initiative.event_date %>
  </p>

  <p>
    <strong>Participants number:</strong>
    <%= initiative.participants_number %>
  </p>

</div>
